<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498943662506-qbu6d40eqvpko0ptcc0sgva56fj7c82l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498943662506-qbu6d40eqvpko0ptcc0sgva56fj7c82l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>498943662506-l4rc96f04e1sinilv621prcr2nk6rsgr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZHUkwrY1KCB1Tz-y62zIApX_NQCc3XXo</string>
	<key>GCM_SENDER_ID</key>
	<string>498943662506</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fruitHub</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-fb735</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-fb735.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498943662506:ios:5468e5e21f6721f52ff3d3</string>
</dict>
</plist>